@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-title {
  font-family: 'Caesar Dressing', cursive;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 12rem;
}

.auth-button {
  background-color: #CDFF05;
  width: 145px;
  height: 45px;
  border-radius: 12px;
  font-family: 'Amaranth';
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.auth-container {
  margin-right: 10rem;
}

.auth-button:hover {
  background-color: #bde600;
}

.hero-title {
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-right: 7rem;
}

.hero-button {
  background-color: #facc15;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  margin-right: 8rem;
  font-family: 'Amaranth';
}

.hero-button:hover {
  background-color: #fbbf24;
}

.hero-second-title {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-left: 4rem;
  color: #FF3805;
}

.hero-second-description {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-left: 4rem;
  max-width: 500px;
  word-wrap: break-word;
  color: #000000;
}

.center-call-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #000000;
  text-align: center;
}

.center-call-subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  max-width: 600px;
  word-wrap: break-word;
  color: #000000;
  text-align: center;
}

.start-button {
  padding: 0.75rem 3.5rem;
  border: 2px solid #7B9903;
  border-radius: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: #000000;
  background-color: #CDFF05;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Amaranth';
}

.start-button:hover {
  background-color: #6a8602;
}
